<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mystudygogo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyStudyGoGo">
        <activity android:name=".ActivityStudy.TestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".contentProviderStudy.MyContentActivity"></activity>
        <activity android:name=".broadcastStudy.MyBroadCastActivity"></activity>
        <activity android:name=".serviceStudy.PlayMusicActivity" />
        <activity android:name=".MainActivity" />
        <!-- 声明receiver -->
        <receiver android:name=".broadcastStudy.MyReciver">
            <intent-filter>
                <action android:name="com.ak.receiver.myreciver" />
            </intent-filter>
        </receiver> <!-- 声明contentProvider -->
        <provider
            android:name=".contentProviderStudy.MyContentProvider"
            android:authorities="com.ak.MyContentProvider"></provider>
        <service
            android:name=".serviceStudy.PlayMusicService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.ak.service.music" />
            </intent-filter>
        </service>
    </application>

</manifest>